name: Tests and Coverage

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run linter
        run: |
          pip install flake8
          flake8 page_loader tests

      - name: Run tests with coverage
        run: |
          pytest --cov=. --cov-report=xml:coverage.xml --cov-report term

      - name: Upload coverage to Qlty
        uses: qltysh/qlty-action/coverage@v2.2.0
        with:
          token: ${{ secrets.CODECLIMATE_REPO_TOKEN }}
          files: coverage.xml
          strip-prefix: /home/runner/work/python-pytest-testing-project-79/python-pytest-testing-project-79/
